.advantages {
  background-color: rgb(255, 255, 255);
}

.advantages__item:not(:last-child) {
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: rgb(0, 0, 0);

  margin: 0;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: rgb(51, 51, 51);

  margin: 0;
}
