.booking {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
}

.booking__lead {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;

  margin: 0;
  margin-bottom: 18px;

  @media (min-width: 768px) {
    font-size: 30px;
  }
}

.booking__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;

  margin: 0;
  margin-bottom: 27px;
}

.booking__button {
  min-width: 280px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    width: 458px;
  }
}
