.comment__body {
  font-weight: bold;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border: none;
  background-color: rgb(242, 242, 242);
  min-width: 100%;
  min-height: 160px;
  padding: 13px 21px;
  box-sizing: border-box;
  display: block;
  resize: none;
}
