.control {
  background-color: rgba(0, 0, 0, 0.6);
}

.control__buttons {
  background-color: rgb(242, 242, 242);
}

.control__scale,
.control__replay,
.control__subtitles,
.control__fullscreen {
  cursor: pointer;
}
