.copyright {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.copyright__link {
  margin: 0 auto;
  width: min-content;

  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    outline: none;
  }
}

.copyright__text {
  margin-right: 12px;
}

.copyright__logo {
  display: inline-block;
  vertical-align: bottom;
}

.copyright__link:hover .copyright__logo,
.copyright__logo:hover {
  color: rgb(129, 179, 210);
}

.copyright__link:active .copyright__logo,
.copyright__logo:active {
  color: rgba(0, 0, 0, 0.3);
}
