.main-form__fieldset {
  border: none;
  padding: 0;
  padding-bottom: 25px;
}

.main-form__legend {
  display: table;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;

  font-weight: bold;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.main-form__submit {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 13px;
  padding-left: 32px;
  padding-right: 33px;
}
