.main__lead {
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
  padding: 0 30px;
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: 21px;
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    padding: 0 120px;
  }
}

.main__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 0 20px;

  @media (min-width: 768px) {
    font-size: 21px;
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    padding: 0 120px;
  }
}

.main__text {
  font-size: 14px;
  font-weight: normal;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 18px;
  padding: 0 20px;

  @media (min-width: 768px) {
    font-size: 21px;
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    padding: 0 120px;
  }
}

.main__booking {
  padding-top: 32px;
  padding-bottom: 49px;
}

.main__map {
  position: relative;
  width: 100%;
}

.main__main-form {
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0 60px;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  @media (min-width: 1200px) {
    padding: 0 120px;
  }
}

.main__photo-catalog {
  padding: 0 20px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 0;
  }
}

.main__video-content {
  padding-top: 32px;
  padding-bottom: 66px;

  @media (min-width: 768px) {
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    padding: 0 200px;
  }
}
