.main__lead {
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 29px;
  padding: 0 30px;
  line-height: 1.5;
  letter-spacing: -0.1px;

  @media (min-width: 768px) {
    font-size: 21px;
    padding: 0 60px;
    line-height: 1.3;
    width: 520px;
    margin-bottom: 30px;

    &--inner-page {
      font-size: 30px;
      line-height: 26px;
      margin-bottom: 32px;
    }
  }

  @media (min-width: 1200px) {
    padding: 0 120px;

    &--inner-page {
      margin-bottom: 33px;
    }
  }
}

.main__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 0 20px;

  @media (min-width: 768px) {
    font-size: 21px;
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    padding: 0 120px;
  }
}

.main__text {
  font-size: 14px;
  font-weight: normal;
  color: rgb(51, 51, 51);
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 14px;
    padding: 0 60px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 88px;
    width: 440px;
  }

  @media (min-width: 1200px) {
    padding: 0 120px;
    margin-bottom: 59px;
  }
}

.main__booking {
  padding-top: 32px;
  padding-bottom: 49px;
}

.main__map {
  position: relative;
  width: 100%;
}

.main__main-form {
  padding: 0 20px;
  padding-top: 15px;

  @media (min-width: 768px) {
    padding: 0 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 22px;
  }

  @media (min-width: 1200px) {
    padding: 0 120px;
  }
}

.main__photo-catalog {
  padding: 0 20px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 0;
  }
}

.main__video-content {
  padding-top: 32px;
  padding-bottom: 66px;

  @media (min-width: 768px) {
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    padding: 0 200px;
  }
}
