.main-navigation__list {
  .ulstyle;
}

.main-navigation__link {
  display: block;

  background-color: rgb(129, 179, 210);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  text-align: center;

  &:hover {
    background-color: rgb(102, 158, 192);
  }

  &:active {
    background-color: rgb(84, 150, 189);
    color: rgba(255, 255, 255, 0.3);
  }
}
