.main-header {
  background-color: rgb(255, 255, 255);
}

.main-header__menu {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
}

.main-header__navigation {
  margin: 0 -18px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.main-header__toggle-navigation {
  position: absolute;
  top: 17px;
  right: 0;
  padding: 11px;
}

.main-header__logo {
  margin: 0 auto;
  order: 2;

  @media (min-width: 768px) {
    margin-top: -53px;
  }
}

.main-header__intro {
  min-height: 389px;
  margin: 0 -18px;
  margin-top: -28px;
  background-color: rgb(226, 240, 249);
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-width: 768px) {
    background-image: url("../img/back-desktop.jpg");
    min-height: 519px;
  }
}

.main-header__intro-image {
  &--main-page {
    margin: 0 auto;
    padding-top: 90px;
  }
}
