.main__lead {
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}

.main__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.main__text {
  font-size: 14px;
  font-weight: normal;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 18px;
}

.main__booking {
  padding-top: 32px;
  padding-bottom: 49px;
}

.main__map {
  position: relative;
  width: 100%;
}

.main__video-content {
  padding-top: 32px;
}
