.main-footer__hashtag {
  margin: 0;
  margin-bottom: 32px;
}

.main-footer__copyright {
  margin: 0;
}

.main-footer__socials {
  .ulstyle;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 37px;
  display: flex;
  width: 153px;
}
