.popup {
  display: none;
  font-family: "PT Sans", "Arial", serif;
  text-transform: uppercase;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);

  width: 320px;

  @media (min-width: 768px) {
    width: 400px;
  }

  @media (min-width: 1200px) {
    width: 640px;
  }
}

.popup--error,
.popup--sent {
  padding-top: 40px;
  margin: 0 auto;
}

.popup--error {
  padding-bottom: 35px;
}

.popup__title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 30px;
  }
}

.popup__text {
  margin: 0;
  margin-bottom: 21px;
  font-weight: normal;
  font-size: 14px;
  color: rgb(51, 51, 51);
}

.popup__inner {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(242, 242, 242);
}

.popup__button--error,
.popup__button--sent {
  padding-top: 18px;
  padding-bottom: 14px;
}

.popup__button--error {
  padding-left: 63px;
  padding-right: 64px;
}

.popup__button--sent {
  padding-left: 60px;
  padding-right: 62px;
}
