.post__link {
  display: block;
  width: fit-content;

  margin: 0 auto;
  margin-bottom: 14px;
}

.post__description {
  margin: 0;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  @media (min-width: 1200px) {
    padding: 0 21px;
    position: absolute;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.3);
  }
}

.post__comment {
  margin: 0;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0);

  @media (min-width: 768px) {
    width: 100%;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    color: rgb(255, 255, 255);
  }
}

.post__comment-author {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: rgb(51, 51, 51);
  text-transform: none;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    color: rgb(255, 255, 255);
  }
}

.post__like-counter {
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0);

  @media (min-width: 1200px) {
    color: rgb(255, 255, 255);
  }
}

.post__button-like {
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  padding-top: 1px;
  cursor: pointer;
  width: 23px;
  height: 21px;
  border: none;
  margin-right: 10px;
}

.post__icon-like {
  color: rgba(0, 0, 0, 0.3);
}

.post__icon-like:hover {
  color: rgb(129, 179, 210);
}

.post__icon-like:active {
  color: rgb(84, 150, 189, 0.4);
}
