.socials {
  text-align: center;
}

.socials__item:not(:last-child) {
  vertical-align: middle;
  margin-right: 6px;
  flex-grow: 0;
}

.socials__link {
  display: inline-block;
  background-color: rgb(129, 179, 210);
  padding: 24px 23px;

  &--facebook {
    padding-right: 24px;
  }

  &:hover {
    background-color: rgb(102, 158, 192);
  }

  &:active {
    background-color: rgb(84, 150, 189);
  }
}
