.socials {
  text-align: center;
}

.socials__item:not(:last-child) {
  vertical-align: middle;
  margin-right: 6px;
  flex-grow: 0;
}

.socials__link {
  display: inline-block;
  box-sizing: border-box;
  background-color: rgb(129, 179, 210);
  min-width: 46px;
  min-height: 48px;

  &--twitter {
    padding-top: 15px;
  }

  &--facebook {
    min-width: 47px;
    padding-top: 13px;
  }

  &--youtube {
    padding-top: 15px;
  }

  &:hover {
    background-color: rgb(102, 158, 192);
  }

  &:active {
    background-color: rgb(84, 150, 189);
  }

  &:focus {
    outline: 2px outset rgb(129, 179, 210);
    outline-offset: 3px;
  }
}

.socials__logo {
  color: rgb(255, 255, 255);
}

.socials__link:active .socials__logo {
  color: rgba(255, 255, 255, 0.3);
}
