body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;

  font-family: "PT Sans", "Arial", serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
